<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Base landing
        {% endblock title %}
    </title>
</head>
<body>
    <header> Место где мы делимся личными мудростями</header>
    <nav>><a href="">НА ГЛАВНУЮ</a></nav>
    <article>
        {% block content %}
        page content
        {% endblock content %}
    </article>
    <aside>
        {% load static %}
        <img src="{% static 'social.jpeg' %}" alt="Logo" width="30%">
    </aside>
    <footer>
    </footer>
</body>
</html>