{% extends 'base.html' %}
{% block title %}
    Место где мы делимся личными мудростями
{% endblock title %}
{% block content %}
    <h3>Добро пожаловать любителям поделиться мудростями!</h3>
    <table>
        <tr>
            <td>
                <a href="">Главная страничка</a>
            </td>
            <td>
                <a href="">Ьудрости</a>
            </td>
            <td>
                <a href="registration">Регистрация</a>
            </td>
            <td>
                <a href="login">Вход</a>
            </td>


        </tr>
    </table>
{% endblock content %}